[Unit]
Description=Linkbot Hub IP Address Announcer
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/env linkbot-hub-announcer
Restart=always
User=nobody
Environment=PATH=/usr/bin:/usr/local/bin

[Install]
WantedBy=multi-user.target
